<template>
    <v-layout
    text-xs-center
    wrap
    >
        <v-flex xs12>
            <v-carousel>
                <v-carousel-item
                v-for="promocion in promociones"
                :key="promocion.identificador"
                :src="promocion.photo"
                >
                </v-carousel-item>
            </v-carousel>
        </v-flex>
    </v-layout>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
        computed: mapState(['promociones'])
    }
</script>

<style lang="scss" scoped>

</style>