<template>
  <v-container>
    <carrusel></carrusel>
    <v-layout
      text-xs-center
      wrap
    >

      <v-flex xs12>
        
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import Carrusel from './Carrusel'
  export default {
    components: {
      Carrusel
    },
    data: () => ({
      
    })
  }
</script>

<style>

</style>
