<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      fixed
      app
    >
      <v-list dense>
        <template>
          <div class="menuList">
          </div>
          <v-container grid-list-md ml-0 pl-5>
            <v-layout row wrap>
              <v-flex xs12>
                <p class="titleBar">Crear reservación</p>
                <form action="">
                  <div class="grupSearch">
                    <p class="subTitleBar">Crear reservación</p>
                    <input type="search" placeholder="Buscar">
                  </div>
                  <div class="grupSearch">
                    <p class="subTitleBar">Hotel</p>
                    <input type="search" placeholder="Buscar">
                  </div>
                  <div class="grupSearch">
                    <p class="subTitleBar">Fechas</p>
                    <input type="search" placeholder="Buscar">
                  </div>
                  <div class="grupSearch">
                    <p class="subTitleBar">Categoría de habitación</p>
                    <input type="search" placeholder="Buscar">
                  </div>
                  <div class="grupSearch">
                    <p class="subTitleBar">Habitaciones</p>
                    <input type="search" placeholder="Buscar">
                  </div>
                  <div class="grupSearch">
                    <p class="subTitleBar">Moneda</p>
                    <input type="search" placeholder="Buscar">
                  </div>
                  <div class="grupSearch">
                    <p class="subTitleBar">Código</p>
                    <input type="search" placeholder="Buscar">
                    <label class="notaLabel" for="">Solamente si aplica</label>
                  </div>
                  <div class="text-xs-center">
                    <v-btn block color="info" >Buscar</v-btn>
                  </div>
                </form>
              </v-flex>
            </v-layout>
          </v-container>
          
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="white"
      dark
      app
      fixed
    >
      <v-toolbar-title style="width: 200px" class="ml-0 pl-3">
        <img class="logoGluo" src="./assets/gluo.png">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      </v-toolbar-title>
      <v-list-tile class="enlaces" :to="{ name: 'home'}">
        <v-list-tile-title>
          {{ $t('lang.notice.reservations') }}
        </v-list-tile-title>
      </v-list-tile>
      <v-spacer></v-spacer>
      <v-list-tile class="enlaces" :to="{ name: 'movesDays'}">
        <v-list-tile-title>
          Movimientos del día
        </v-list-tile-title>
      </v-list-tile>
      <v-spacer></v-spacer>
      <v-list-tile class="enlaces" :to="{ name: 'adminUser'}">
        <v-list-tile-title>
          Administración de usuarios
        </v-list-tile-title>
      </v-list-tile>
      <v-spacer></v-spacer>
      <v-list-tile class="enlaces" :to="{ name: 'profileGuest'}">
        <v-list-tile-title>
          Perfil de huéspedes
        </v-list-tile-title>
      </v-list-tile>
      <v-spacer></v-spacer>
      <v-btn icon>
        <img
            src="./assets/search.png"
            alt="Vuetify"
          >
      </v-btn>
      <v-btn icon>
        <img
            src="./assets/globe.png"
            alt="Vuetify"
          >
      </v-btn>
      <v-btn icon large>
        <v-avatar tile>
          <img
            src="./assets/me.png"
            alt="Vuetify"
          >
        </v-avatar>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-content>

    <v-footer dark height="auto" :clipped-left="$vuetify.breakpoint.lgAndUp">
      <v-layout justify-center>
        <v-flex text-xs-center>
          <v-card flat title color="white">
            <v-card-text class="footer">
              Footer
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      drawer: null,
    }
  }
}
</script>

<style >
  .theme--light.application {
    background: #f5f5f5;;
  }
  /* header */
  .v-toolbar__content {
    height: 100% !important;
  }
  .logoGluo {
    vertical-align: middle;
  }
  .theme--dark.v-icon {
    color: #595959;
  }
  .v-btn .v-btn__content .v-icon {
    color: #595959;
  }
  .theme--dark.v-toolbar {
    color: #595959;
  }
  .enlaces {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #595959;
  }
  .v-list__tile__title {
    font-size: 14px;
  }
  .v-list__tile--active {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #007c83 !important;
    border-bottom: #007c83 2px solid; 
  }

  /* Bar */
  .titleBar{
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
    text-align: left;
  }

  .subTitleBar {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: #4a4a4a;
    text-align: left;
    margin-bottom: 10px;
  }

  input[type='search']{
    border: #eee 1px solid;
    padding: 5px 10px;
  }

  .grupSearch {
    padding-bottom: 15px;
  }

  .notaLabel {
    height: 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    color: #4a4a4a;
  }

  /* footer */
  .footer {
    color: #4a4a4a;
  }
</style>
